extends layout

block content
  script(src='javascripts/socket.js')
  h1= '도둑과 경찰 테스트'
  p Console로 들어오는 정보를 확인하세요.

  h3= '로그인 Request'
  button(onClick="signup()")
    로그인

  h3= '방 Request'
  button(onClick="roomList()")
    리스트가져오기
  button(onClick="roomMake()")
    방만들기
  button(onClick="roomEnter('21025')")
    입장1
  button(onClick="roomEnter('22984')")
    입장2
  button(onClick="roomLeave('21025')")
    나가기
  button(onClick="roomLeave('22984')")
    나가기2
  button(onClick="movePolice()")
    경찰되기
  button(onClick="moveThief()")
    도둑되기
  button(onClick="roomInfo()")
    방 정보 리프레쉬

  h3= '지도정보 & 게임 Request'
  button(onClick="posUpdate()")
      지도정보갱신
  button(onClick="catchPlayer()")
      도둑잡았다
  button(onClick="startGame()")
      게임시작
  button(onClick="minus()")
      빼기